@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Reg.otf") format("otf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.otf") format("otf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Black.otf") format("otf");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Xbold.otf") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.otf") format("woff2");
  font-weight: 300;
  font-display: swap;
}
// @font-face {
//   font-family: "ProximaNova";
//   src: url("../fonts/ProximaNovaExCn-Black.otf") format("otf");
//   font-weight: 900;
//   font-display: swap;
// }